<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Fòrum</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: sans-serif;
        }
       table {
           border-collapse: collapse;
           border: white solid 1px;
       }
       th, td {
           border: white solid 1px;
           padding: 10px;
       }
    </style>
</head>
<body>
    <h1>Fòrum</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Títol</th>
            <th>Autor</th>
            <th>Número de respostes</th>
            <th>Data de publicació</th>
        </tr>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
<!--                <td><a href="http://localhost:8000/messages/{{ message.id }}/">{{ message.title }}</a></td>-->
                <td><a href="{% url 'replies' message_id=message.id %}">{{ message.title }}</a></td>
                <td>{{ message.user }}</td>
                <td>{{ message.replies_count }}</td>
                <td>{{ message.published_at }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
