<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Fòrum</title>
    <style>
        form {
            display: inline-flex;
            flex-direction: column;
        }
        input#title, textarea {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <form action="{% url 'message.store' %}" method="post">
        {% csrf_token %}
        <label for="title">Títol</label>
        <input type="text" id="title" name="title">
        <label for="content">Contingut</label>
        <textarea id="content" name="content" rows="5" cols="33"></textarea>
        <input type="submit" value="Publicar">
    </form>
</body>
</html>